{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <style>
        .button {
            margin: 10px 0 10px 0;
            float: right;
            padding: 5px;
            background-color: #eab3ac;
            border: #eab3ac solid 2px;
        }
    </style>
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin: 10px 0 10px 0;">Reservation Details</h3>
                                </div>
                                <div class="col-6">
                                    <button class="button" style="margin-left: 10px">
                                        <a style="color: white" href="{{ path('reservation_index') }}">back to list</a>
                                    </button>
                                </div>
                            </div>
                            <div class="card">

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ reservation.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>DateReservation</th>
                                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>IdUser</th>
                                        <td>{{ reservation.idUser }}</td>
                                    </tr>
                                    <tr>
                                        <th>IdSalle</th>
                                        <td>{{ reservation.idSalle }}</td>
                                    </tr>
                                    <tr>
                                        <th>IdFilm</th>
                                        <td>{{ reservation.idFilm }}</td>
                                    </tr>
                                    <tr>
                                        <th>NbrPlaceRes</th>
                                        <td>{{ reservation.nbrPlaceRes }}</td>
                                    </tr>
                                    <!--<tr>
                                        <th>IdSpectacle</th>
                                        <td>{# {{ reservation.idSpectacle }} #}</td>
                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <footer class="main-footer" style="text-align: center">
            <strong>Copyright &copy; 2021 <a style="color: #eab3ac" href="https://adminlte.io">Infinite
                    Loop</a>.</strong> All rights reserved.
        </footer>
    </div>l

{% endblock %}
