<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{{ asset('dist/img/Data/logo.png') }}" alt="AdminLTE Logo" class="brand-image ml-5"
             style="opacity: .8; width: 100px;">
        <span class="brand-text font-weight-light" style="opacity: 0; margin: 0; padding: 0;">a</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('dist/img/hazem.jpg') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ path('profile') }}" class="d-block">{{ app.user.nom }} {{ app.user.prenom }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="/userA" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            {% trans %}Users{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('salle_de_cinema_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-person-booth"></i></i>
                        <p>
                            {% trans %}Movie Rooms{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('film_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            {% trans %}Movies{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('afficher_spectacle') }}" class="nav-link">
{#                        <i class="nav-icon fas fa-th"></i>#}
                        <i class="nav-icon fas fa-snowplow"></i>
                        <p>
                            {% trans %}Shows{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            {% trans %}Shop{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('reclamation_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-exclamation-circle"></i>
                        <p>
                            {% trans %}Complaints{% endtrans %}

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('reservation_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-ticket-alt"></i>
                        <p>
                            {% trans %}Booking{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/promotionA" class="nav-link">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>
                            {% trans %}Promotion{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('afficher_plannings') }}" class="nav-link">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            {% trans %}Planning{% endtrans %}
                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>